*,
::before,
::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-body);
  font-family: var(--main-font);
  font-size: var(--basic-fz);
  font-weight: var(--basic-fw);
  color: var(--text-dark);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

input,
button {
  border: none;
  background: none;
  outline: none;
}
