:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: #c1b6ad;
  --border-dark: #665f55;
  --main-font: "Inter", sans-serif;
  --basic-fz: 1.6rem;
  --basic-fw: 400;
  --transition-duration: 0.25s;
  --width-container: 1440px;
  --padding-desktop-x: 40px;
  --padding-mobile-x: 16px;
  --border-radius: 40px;
}

:root[data-theme="dark"] {
  --text-dark: #e1d4c9;
  --background-body: #292826;
  --background-container: #665f55;
  --background-backdrop: rgb(64, 63, 61, 0.8);
}
